body {
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.btn {
  width: 75%;
  background: none;
  color: #0d6efd;
}
.effect {
  -webkit-filter: blur(2px);
  filter: blur(3px);
}
.full-card{
    display: none;
}